* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  border: 5px solid salmon;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 5px solid black;
}

.about-me {
  grid-column: 2/4;
  grid-row: 2/4;
}
