* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --accent-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;
  --grid-background-color: #ddd;
  --google-fonts: "Roboto", sans-serif;

  background-color: var(--background-color);
  font-family: var(--google-fonts);
}

body.dark {
  --accent-color: #d0d066;
  --background-color: #171717;
  --text-color: white;
  --grid-background-color: #333;
}

.alink {
  text-decoration: none;
  color: var(--background-color);
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 50%;
  padding: 10px 15px;
  background-color: var(--accent-color);
  position: absolute;
  transition: var(--transition-delay);
}

.alink span {
  transition: var(--transition-delay);
}

.alink:hover {
  opacity: 0.9;
}

/* * CONTAINER FLEX */

.container-flex {
  padding: 50px 7%;
  display: flex;
  place-content: space-between;
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-brand h1 {
  font-weight: 900;
  font-size: 40px;
}

.navbar {
  margin-right: 38%;
  border: solid;
  border-radius: 25px;
}

ul {
  display: flex;
  cursor: pointer;
}

.nav-items {
  list-style: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 15px;
}

/* *CONTAINER GRID */

.container-grid {
  display: grid;
  list-style: none;
  width: 80%;
  margin: 10px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 250px);
  place-items: stretch;
  gap: 15px;
  cursor: grab;
}

.item {
  background-color: var(--grid-background-color);
  color: var(--text-color);
  place-content: start;
  place-items: start;
  display: flex;
  border-radius: 20px;
  transition: var(--transition-delay);
  transform: scale(1);
}

.item:hover,
.item:focus {
  transform: scale(1.01);
}

/* *ABOUT ME */
.about-me {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  position: relative;
}

.memoji2,
.memoji3 {
  width: 100px;
  background: transparent;
  margin: 20px;
  position: absolute;
  transform: scale(1);
  transition: var(--transition-delay);
}

.invisible {
  transform: scale(0) rotate(20deg);
  opacity: 0;
}

.rotate-icon {
  width: 15px;
  margin-right: 5px;
}

.toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 7px 15px;
  border: 2px solid grey;
  border-radius: 18px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--button-text-color);
}

.toggle img {
  --rotation: 0;

  transform: rotate(calc(var(--rotation) * 1deg)) translateZ(0);
  transition: var(--transition-delay);
}

.article {
  margin-top: 30%;
  margin-left: 40px;
  margin-right: 30px;
}

/*  *LOCATION */
.location {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  overflow: hidden;
}

/*  * TODOOLIST PROJECT */
.project1 {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  background-image: linear-gradient(35deg, #f6b8b8, #ffed99);
  overflow: hidden;
  position: relative;
}

.todolist-link {
  left: 15px;
  bottom: 15px;
}

.todolist {
  width: 100%;
  transform: rotate(-35deg);
  position: absolute;
  top: 20%;
  left: 20%;
}

/*  *KEEPER PROJECT */
.project2 {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 2;
  background-image: url("../img/keeper-project.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.keeper-link {
  left: 8%;
  top: 3%;
}

/* *PROJECT 3 */
.project3 {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 1;
  position: relative;
  overflow: hidden;
  background-color: #a2dbfa;
}

.project3-link {
  left: 15px;
  bottom: 15px;
}

.project3 img {
  width: 100%;
  z-index: 20;
}

.project3 h2 {
  color: #053742;
  margin-left: 60%;
  margin-top: 5%;
}

.circle {
  padding: 30%;
  background-color: #f6b8b8;
  position: absolute;
  border-radius: 50%;
  bottom: -50%;
  right: 30%;
}

/* *CONTACT ME */
.contact-me {
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 1;
  justify-content: start;
}

form ul {
  display: block;
  list-style: none;
  margin-left: 40px;
  margin-top: 30px;
}

.btn {
  padding: 10px 30px;
  background-color: grey;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* *CV */
.cv {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 1;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
}

.cv img {
  width: 20%;
  margin-top: -50px;
}

.cv a {
  position: absolute;
  bottom: 15px;
  text-decoration: none;
  background-color: orangered;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.download {
  left: 150px;
}

.view {
  right: 180px;
}

/* *LINKEDIN */
.linkedin {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

.linkedin img {
  width: 100%;
}

.linkedin-link {
  left: 15px;
  bottom: 15px;
}

/*  *TWITTER */
.twitter {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(95, 204, 255);
  position: relative;
}

.twitter img {
  width: 180px;
}

.twitter-link {
  left: 15px;
  bottom: 15px;
}

/* *THEME */
.theme {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 2px solid #ddd;

  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
}

.theme-toggle-button .icon {
  margin-right: 0.5em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
  transform: scale(1.1);
}

.sun-moon-container {
  --rotation: 0;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 200vmin;
  pointer-events: none;
  transform: rotate(calc(var(--rotation) * 1deg));
  transition: transform var(--transition-delay);
}

.sun,
.moon {
  position: absolute;
  transition: opacity, fill, var(--transition-delay);
  width: 30px;
  height: 30px;
  fill: var(--accent-color);
}

.sun {
  top: 2%;
}

.dark .sun {
  opacity: 0;
}

.moon {
  bottom: 2%;
  opacity: 0;
  transform: rotate(180deg);
}

.dark .moon {
  opacity: 1;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  padding: 30px 7%;
  margin-top: 50px;
  background-color: var(--accent-color);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container-flex {
    justify-content: space-around;
  }

  .navbar {
    display: none;
  }

  .container-grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  .about-me,
  .twitter,
  .project1,
  .project2,
  .project3,
  .cv,
  .contact-me,
  .location,
  .linkedin,
  .theme {
    grid-column: span 1 / span 1;
    grid-row: span 1 / span 1;
  }

  .linkedin img {
    width: 250px;
  }

  .keeper-link {
    left: 15px;
    top: 75%;
  }

  .article {
    display: none;
  }

  .about-me {
    border: 2px solid #666;
  }

  .about-me img {
    left: 25%;
    top: 25%;
  }
}

@media screen and (max-width: 425px) {
  .container-grid {
    grid-template-columns: 1fr;
  }

  .about-me,
  .twitter,
  .project1,
  .project2,
  .project3,
  .cv,
  .contact-me,
  .location,
  .linkedin,
  .theme {
    width: 340px;
    height: 250px;
  }

  .article {
    display: none;
  }

  .about-me {
    border: 2px solid #666;
  }

  .about-me img {
    left: 25%;
    top: 25%;
  }
}
